.places
{
    /*border: 1px solid black;*/
    font-size: 30px;
    margin: 20px 20px; 
}
section h1
{
    /*border: 1px solid black; */
}

article
{
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    width: 390px;
    margin: 20px;
    padding: 20px;
    float: left;

}

article h2
{
    /*border: 1px solid blue;*/
    font-size: 30px;
    text-align: center;
}

.Asuite
{
    /*border: 1px solid blue;*/
    margin: 1px 1px 1px 250px;
}